/* MessageList.css */

.message-list {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.message-list ul{
    display: flex;
    flex-direction: column;
}


.message-list ul .li {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.message-list ul .li img{
    border: none !important;
    border-radius: 5px !important;
    
}


.message-header {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}


.description p{
    width: 200px;
}

